<body>
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Hauteur et médiatrice</div>
          <div class="card-image" style="background-image: url('hauteur_médiatrice.png');"></div>
          <div class="card-theme">Définitions<div class="card-logo"><i class="fa-solid fa-ruler"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
            Donner la définition de la <b style="color:red;">hauteur</b> d'un triangle $ABC$ issue de $B$
            et de la <b style="color:blue;">médiatrice</b> d'un segment $[BC]$.
          </div>
          <div class="card-level">5e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-front card-green">
          <div class="card-title">Hauteur et médiatrice</div>
          <div class="card-theme">Proposition de réponses <div class="card-logo"><i class="fa-solid fa-check"></i></div></div>
          
          <div class="card-answer" style="font-size:1em;">
            <ul>
              <li><b style="color:red;">Hauteur :</b> La hauteur du triangle $ABC$ issue de $B$ est la droite passant par le sommet $B$
                et perpendiculaire au côté opposé $[AC]$.</li>
              <li style="margin-top:1em;"><b style="color:blue;">Médiatrice :</b> La médiatrice d'un segment $[BC]$ est la droite passant par le milieu de ce segment
                et perpendi-culaire à la droite $(BC)$.</li>
            </ul>
          </div>
      </div>
  </div>



<div class="cards-container">
    <!-- Recto de la carte -->
    <div class="card card-front card-yellow">
        <div class="card-title">Tracer la hauteur d'un triangle</div>
        <div class="card-image" style="background-image: url('tracer_hauteur.png');"></div>
        <div class="card-theme">Méthode<div class="card-logo"><i class="fa-solid fa-ruler"></i></div></div>
        <div class="card-content" style="font-size:1em;">
            Donner la méthode pour construire la hauteur d'un triangle $ABC$ issue de $C$.
        </div>
        <div class="card-level">5e</div>
    </div>

    <!-- Verso de la carte -->
    <div class="card card-front card-green">
        <div class="card-title">Tracer la hauteur d'un triangle</div>
        <div class="card-theme">Méthode<div class="card-logo"><i class="fa-solid fa-check"></i></div></div>
        
        <div class="card-answer" style="font-size:0.9em;">
            <ol>
                <li>Identifier le sommet $C$ et le côté opposé $[AB]$.</li>
				<li>Placer l'un des côtés de l'angle droit de l'équerre sur la droite $(AB)$.</li>
                <li>Faire glisser l'équerre tout en maintenant ce côté sur $(AB)$ jusqu'à ce que l'autre côté de l'angle droit de l'équerre passe par le point $C$.</li>
                <li>Tracer une droite perpendiculaire à $(AB)$ qui passe par $C$. Cette droite représente la hauteur issue de $C$.</li>
            </ol>
        </div>
    </div>
</div>

</div>
  
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Tracer la médiatrice d'un segment</div>
          <div class="card-image" style="background-image: url('mediatrice.png');"></div>
          <div class="card-theme">Méthode<div class="card-logo"><i class="fa-solid fa-ruler"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
			Donner la méthode pour construire la médiatrice d'un segment $[EF]$.
          </div>
          <div class="card-level">5e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-front card-green">
          <div class="card-title">Tracer la médiatrice d'un segment</div>
          <div class="card-theme">Méthode <div class="card-logo"><i class="fa-solid fa-check"></i></div></div>
          
        <div class="card-answer" style="font-size:0.9em;">
          <ol>
            <li>Avec un compas, tracer <b style="color:green;">deux arcs de cercle</b> de même rayon, un avec centre $E$ et l'autre avec centre $F$, de manière à ce qu'ils se croisent en deux points.</li>
            <li>Avec la règle, tracer une <b style="color:red;">droite</b> passant par les points d'intersection des deux arcs. Cette droite est la médiatrice du segment $[EF]$.</li>
            <li>Indiquer l'angle droit et le point d'intersection comme étant le milieu du segment $[EF]$.</li>
          </ol>
        </div>
      </div>
  </div>



<div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Aire d'un triangle</div>
          <div class="card-image" style="background-image: url('calculer_aire_triangle.png');"></div>
          <div class="card-theme">Calculer <div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          <div class="card-content" style="font-size:1em;">
              Calculer l'aire du triangle $\small\textsf{ABC}$ ci-dessus.
            <br>

            $\textsf{Aire}_\textsf{triangle}=\dfrac{\textcolor{green}{\textsf{base}}\times\textcolor{red}{\textsf{hauteur}}}{2}$
          </div>
          <div class="card-level">5e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-front card-green">
          <div class="card-title">Aire d'un triangle</div>
          <div class="card-theme">Calculer <div class="card-logo"><i class="fa-solid fa-check"></i></div></div>
          
          <div class="card-answer" style="font-size:0.915em;">
            On sait que : <br> $\textsf{Aire}_\textsf{triangle}=\dfrac{\textcolor{green}{\textsf{base}}\times\textcolor{red}{\textsf{hauteur}}}{2}$
            Donc on a : <br>
            $\textsf{Aire}_\textsf{ABC}=\dfrac{\textcolor{green}{\textsf{AC}}\times\textcolor{red}{\textsf{BH}}}{2}$
            $\textsf{Aire}_\textsf{ABC}=\dfrac{4\,\textsf{cm}\times{}7\,\textsf{cm}}{2}$
            $\textsf{Aire}_\textsf{ABC}=\dfrac{28\,\textsf{cm}^2}{2}=14\,\textsf{cm}^2$
            
            <p>L'aire du triangle $\small\textsf{ABC}$ est donc de $14\,\textsf{cm}^2$.</p>
          </div>
      </div>
  </div>
</div>
</body>

<!-- Style CSS des cartes -->
<style>
    /* Style global pour les cartes */
  	
  	body {
  		font-family: Arial, sans-serif;
  		}
  	
  	.duo-card {
        display: block;
    }
  	
    .card {
      	position: relative;
        width: 240px;
        height: 340px;
        border: 5px solid #000;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

  	.card p {
      color: black;
      text-shadow: none;
  	}	
    
    .cards-container {
        display: flex;
        align-items: center;
        margin: 0; 
      	margin-bottom: 1em;
    }

    .card-front, .card-back {
        margin: 0;
    }

    .card-back {
        background: linear-gradient(145deg, #f0f0f0, #d4d4d4);
        background-size: cover;
        background-position: center;
    }

    .card-image {
        width: 92.5%;
        height: 48%;
        background-position: center;
        background-size: cover;
        border: solid 3.5px lightgray;
        margin: auto;
    }

    .card-title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        padding: 6px;
        color: #333;
        background-color: #f0f0f0;
    }

    .card-theme {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        padding: 4px;
        background-color: #d4d4d4;
        color: #333;
        position: relative;
    }

    .card-logo {
        position: absolute; 
        right: 10px;
        top: 50%; 
        transform: translateY(-50%);
    }

    .card-theme::before {
        content: ''; 
        display: inline-block; 
        width: 0; 
        height: 100%;
        vertical-align: middle; 
        margin-right: -0.25em;
    }

    .card-content {
        padding: 8px;
        height: 30%;
        border-top: 1px solid #ddd;
        overflow-y: auto;
        font-size: 12px;
        text-align: justify;
        background-color: #f0f0f0;
    }
  
  	.card-answer {
        padding: 8px;
        height: 80%;
        border-top: 1px solid #ddd;
        overflow-y: auto;
        font-size: 12px;
        text-align: justify;
        background-color: #f0f0f0;
    }
  
  	.card-level {
    position: absolute;
    bottom: -1px;
    right: -1px;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid 1px black;
    border-radius: 25%;
    width: 20px;
    height: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    }
  
    .card-logo {
        margin-left: auto; /* Pousse l'icône à droite */
        display: flex; /* Permet un bon alignement de l'icône */
    }

	
	.card-yellow {
        border-color: #e6c300; 
        box-shadow: 0 8px 16px rgba(226, 202, 0, 0.2);
      	background-color: #f7f1b3;
    }
    .card-yellow .card-title {
        background-color: #f7f1b3;
    }
    .card-yellow .card-theme {
        background-color: #f7e666;
    }
	.card-yellow .card-content {
        background-color: #feffe3;
    }  
    .card-yellow .card-answer {
          background-color: #feffe3;
      }  
  	.card-yellow .card-level{
  		border-color: #e6c300;
  	}
	
	.card-blue {
        border-color: #0073e6; 
        box-shadow: 0 8px 16px rgba(0, 115, 230, 0.2);
      	background-color: #b3d1f7;
    }
    .card-blue .card-title {
        background-color: #b3d1f7;
    }
    .card-blue .card-theme {
        background-color: #66b2f7;
    }
	.card-blue .card-content {
        background-color: #e3f7ff;
    }
  	.card-blue .card-answer {
        background-color: #e3f7ff;
    }
  	.card-blue .card-level {
        border-color: #0073e6; 
  	}
	
	.card-red {
        border-color: #e60000; 
        box-shadow: 0 8px 16px rgba(230, 0, 0, 0.2);
      background-color: #f7b3b3;
    }
    .card-red .card-title {
        background-color: #f7b3b3;
    }
    .card-red .card-theme {
        background-color: #f76666;
    }
	.card-red .card-content {
        background-color: #ffe6e6;
    }
  	.card-red .card-answer {
        background-color: #ffe6e6;
    }
  	.card-red .card-level {
        border-color: #e60000;
  	}
	
	.card-green {
    border-color: #68c268; 
    box-shadow: 0 8px 16px rgba(119, 221, 119, 0.2);
    background-color: #c9f0c9;
	}
	.card-green .card-title {
		background-color: #c9f0c9;
	}
	.card-green .card-theme {
		background-color: #a6e7a6;
	}
	.card-green .card-content {
		background-color: #e6ffe6;
	}
  	.card-green .card-answer {
		background-color: #e6ffe6;
	}
  	.card-green .card-level {
    border-color: #68c268;
  	}
	
	.card-purple {
    border-color: #996dc7; 
    box-shadow: 0 8px 16px rgba(177, 156, 217, 0.2);
    background-color: #d6c3f0;
	}
	.card-purple .card-title {
		background-color: #d6c3f0;
	}
	.card-purple .card-theme {
		background-color: #c9a9f5;
	}
	.card-purple .card-content {
		background-color: #f3e6ff;
	}
  	.card-purple .card-answer {
		background-color: #f3e6ff;
	}
  	.card-purple .card-level {
    border-color: #996dc7;
  	}

	.card-orange {
    border-color: #e69500; 
    box-shadow: 0 8px 16px rgba(255, 179, 71, 0.2);
    background-color: #ffd4a3;
	}
	.card-orange .card-title {
		background-color: #ffd4a3;
	}
	.card-orange .card-theme {
		background-color: #ffc080;
	}
	.card-orange .card-content {
		background-color: #fff0e3;
	}
  	.card-orange .card-answer {
		background-color: #fff0e3;
	}
  	.card-orange .card-level {
    border-color: #e69500;
  	}
  
  	.card-pink {
    border-color: #e60073; 
    box-shadow: 0 8px 16px rgba(230, 0, 115, 0.2);
    background-color: #ffb3d9;
    }
    .card-pink .card-title {
        background-color: #ffb3d9;
    }
    .card-pink .card-theme {
        background-color: #ff66cc;
    }
    .card-pink .card-content {
        background-color: #ffe6f2;
    }
    .card-pink .card-answer {
        background-color: #ffe6f2;
    }
    .card-pink .card-level {
        border-color: #e60073;
    }

    .card-brown {
        border-color: #8b4513; 
        box-shadow: 0 8px 16px rgba(139, 69, 19, 0.2);
        background-color: #d2b48c;
    }
    .card-brown .card-title {
        background-color: #d2b48c;
    }
    .card-brown .card-theme {
        background-color: #cdaa7d;
    }
    .card-brown .card-content {
        background-color: #f5deb3;
    }
    .card-brown .card-answer {
        background-color: #f5deb3;
    }
    .card-brown .card-level {
        border-color: #8b4513;
    }

    .card-turquoise {
        border-color: #40e0d0; 
        box-shadow: 0 8px 16px rgba(64, 224, 208, 0.2);
        background-color: #99f2ea;
    }
    .card-turquoise .card-title {
        background-color: #99f2ea;
    }
    .card-turquoise .card-theme {
        background-color: #78e7dc;
    }
    .card-turquoise .card-content {
        background-color: #e8fffd;
    }
    .card-turquoise .card-answer {
        background-color: #e8fffd;
    }
    .card-turquoise .card-level {
        border-color: #40e0d0;
    }

  	.card-bronze {
        border-color: #cd7f32; 
        box-shadow: 0 8px 16px rgba(205, 127, 50, 0.2);
        background: linear-gradient(135deg, #ffeddb 0%, #e2b87a 50%, #dea26b 100%);
    }
    .card-bronze .card-title {
        background: linear-gradient(to bottom, #e2b87a, #dea26b);
    }
    .card-bronze .card-theme {
        background: linear-gradient(to bottom, #dea26b, #cd7f32);
    }
    .card-bronze .card-content {
        background: linear-gradient(to bottom, #ffeddb, #f8e3cf);
    }
    .card-bronze .card-answer {
        background: linear-gradient(to bottom, #ffeddb, #f8e3cf);
    }
    .card-bronze .card-level {
        border-color: #cd7f32;
    }


    .card-silver {
        border-color: #c0c0c0; 
        box-shadow: 0 8px 16px rgba(192, 192, 192, 0.2);
        background: linear-gradient(135deg, #f7f7f7 0%, #dedede 50%, #cfcfcf 100%);
    }
    .card-silver .card-title {
        background: linear-gradient(to bottom, #dedede, #cfcfcf);
    }
    .card-silver .card-theme {
        background: linear-gradient(to bottom, #cfcfcf, #bfbfbf);
    }
    .card-silver .card-content {
        background: linear-gradient(to bottom, #f7f7f7, #ececec);
    }
    .card-silver .card-answer {
        background: linear-gradient(to bottom, #f7f7f7, #ececec);
    }
    .card-silver .card-level {
        border-color: #c0c0c0;
    }


    .card-gold {
        border-color: #ffd700; 
        box-shadow: 0 8px 16px rgba(255, 215, 0, 0.2);
        background: linear-gradient(135deg, #fffdf0 0%, #fff8cd 50%, #ffeb7f 100%);
    }
    .card-gold .card-title {
        background: linear-gradient(to bottom, #fff8cd, #ffeb7f);
    }
    .card-gold .card-theme {
        background: linear-gradient(to bottom, #ffeb7f, #ffd700);
    }
    .card-gold .card-content {
        background: linear-gradient(to bottom, #fffdf0, #fff5b8);
    }
    .card-gold .card-answer {
        background: linear-gradient(to bottom, #fffdf0, #fff5b8);
    }
    .card-gold .card-level {
        border-color: #ffd700;
    }
	
  	ul, li, ol {
  	margin: 0px;
  	margin-left: -15px;
  	}
  
	@media print {
    .duo-card {
        display: flex;
        page-break-inside: avoid;
    }
	.cards-container {
	 margin: 5px;
	}
	}
</style>