<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-pink">
          <div class="card-title">Calaveras</div>
          <div class="card-image" style="background-image: url('calaveras.png');"></div>
          <div class="card-theme">Descripción<div class="card-logo"><i class="fa-solid fa-pen"></i></div></div>
          
          <div class="card-content" style="font-size:0.85em;">
            Describe la imagen de arriba con las palabras:
            <ul style="margin: 0px;	margin-left: 0px;">
              <li>rostro</li>
              <li>fiesta</li>
              <li>México</li>
              <li>dia de muertos</li>
            </ul>
          </div>
          <div class="card-level">4e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-front card-green">
          <div class="card-title">Calaveras</div>
          <div class="card-theme">Corrección propuesta <div class="card-logo"><i class="fa-solid fa-check"></i></div></div>
          
          <div class="card-answer" style="font-size:1em;">
            La imagen muestra un <b>rostro</b> decorado con colores vivos y elementos florales.
            Representa la tradición del <b>día de muertos</b>, una importante festividad en <b>México</b>, donde se honra a los difuntos.
            La decoración y los colores transmiten un ambiente de <b>fiesta</b>, lleno de alegría y significado cultural.
          </div>
      </div>
  </div>



<div class="cards-container">
    <!-- Recto de la carte -->
    <div class="card card-front card-red">
        <div class="card-title">English-speaking countries</div>
        <div class="card-image" style="background-image: url('english-speacking.png');"></div>
        <div class="card-theme">List of countries<div class="card-logo">🗺️</div></div>
        <div class="card-content" style="font-size:1em;">
            Name several countries and their capitals where the native language is English.
        </div>
        <div class="card-level">6e</div>
    </div>

    <!-- Verso de la carte -->
    <div class="card card-front card-red">
        <div class="card-title">Answers</div>
        <div class="card-theme">Correct answers<div class="card-logo">✅</div></div>
        
        <div class="card-answer" style="font-size:0.8em;">
            1. United States - <b>Washington, D.C.</b><br>
            2. United Kingdom - <b>London</b><br>
            3. Canada - <b>Ottawa</b><br>
            4. Australia - <b>Canberra</b><br>
            5. New Zealand - <b>Wellington</b><br>
            6. Ireland - <b>Dublin</b><br>
            7. South Africa - <b>Pretoria</b> (administrative), <b>Bloemfontein</b> (judicial), <b>Cape Town</b> (legislative)<br>
            8. Jamaica - <b>Kingston</b><br>
            9. Bahamas - <b>Nassau</b><br>
            10. Barbados - <b>Bridgetown</b><br>
            11. Trinidad and Tobago - <b>Port of Spain</b><br>
            12. Belize - <b>Belmopan</b><br>
            13. Singapore - <b>Singapore</b><br>
            14. Nigeria - <b>Abuja</b><br>
            15. Ghana - <b>Accra</b>
        </div>
    </div>
</div>

</div>