
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Opérations avec des nombres décimaux</div>
          <div class="card-image" style="background-image: url('hibou-calc.png');"></div>
          <div class="card-theme">Travaux numérique <div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          
          <div class="card-content">
            <ul>
                <li>Additionner et soustraire des nombres décimaux </li>
                <li>Savoir multiplier des nombres décimaux</li>
                <li>Maitriser la division de nombres décimaux</li>
            </ul>
          </div>
          <div class="card-level">6e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('fond-verso.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>



  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-red">
          <div class="card-title">Charlemagne</div>
          <div class="card-image" style="background-image: url('charlemagne.png');"></div>
          <div class="card-theme">742-814 <div class="card-logo"><i class="fa-solid fa-chess-king"></i></div></div>
          <div class="card-content">
              <ul>
                  <li>Couronné empereur en l'an 800 par le pape Léon III.</li>
                  <li>A unifié la majeure partie de l'Europe occidentale.</li>
                  <li>A promu les arts et l'éducation, inaugurant ce que l'on appelle la « Renaissance carolingienne ».</li>
              </ul>
          </div>
          <div class="card-level">5e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('fond-verso.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>
  