<body>
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Théorème de Pythagore</div>
          <div class="card-image" style="background-image: url('https://minio.apps.education.fr/codimd-prod/uploads/upload_ba6acd511f11797d682c7b0c47f9424a.png');"></div>
          <div class="card-theme">Énoncé<div class="card-logo"><i class="fa-solid fa-book-open"></i></div></div>
          
          <div class="card-content" style="font-size:1.25em;">
            Énoncer le théorème de Pythagore avec son égalité dans un triangle $ABC$ rectangle en $A$.
          </div>
          <div class="card-level">4e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Énoncé</div>
          <div class="card-theme">Proposition de correction <div class="card-logo"><i class="fa-solid fa-check"></i></div></div>
          
          <div class="card-answer" style="font-size:1.15em;">
           Si triangle $ABC$ est rectangle en $A$, alors On a l'égalité suivante : <br>
              $$\textcolor{blue}{BC^2}=\textcolor{green}{AB^2}+\textcolor{red}{AC^2}$$
             <i style="color:gray;">Si triangle est rectangle alors le carré de la longueur de son plus grand côté est égal à la somme des carrés des longueurs des deux autres côtés.</i>
          </div>
      </div>
  </div>



  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Calculer une longueur dans un triangle rectangle</div>
          <div class="card-image" style="background-image: url('https://minio.apps.education.fr/codimd-prod/uploads/upload_03dc04836c1ed159bd2b0be8b3ffa8be.png');"></div>
          <div class="card-theme">Théorème de Pythagore<div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          <div class="card-content" style="font-size:1.25em;">
           Calculer la longueur du côté $[TR]$
          </div>
          <div class="card-level">4e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Calcul d'une longueur</div>
          <div class="card-theme">Proposition de correction <div class="card-logo"><i class="fa-solid fa-check"></i></div></div>
          
          <div class="card-answer" style="font-size:1em;">
            On remarque que le $TRI$ est rectangle en $T$ et son hypoténuse est $[RI]$. <br> On applique le théorème de Pythagore et on a : <br>
            <p>$\textcolor{blue}{RI}^2=\textcolor{green}{TR}^2+\textcolor{red}{TI}^2$</p>
            <p>On en déduit : <br>
            $\textcolor{green}{TR}^2=\textcolor{blue}{RI}^2-\textcolor{red}{TI}^2$<br>
            $\textcolor{green}{TR}^2=\textcolor{blue}{20}^2-\textcolor{red}{12}^2$
            $\textcolor{green}{TR}^2=400-144=256$
            $\textcolor{green}{TR}=\sqrt{256}=16\,\textrm{cm}$<br>
              La longueur du côté $[TR]$ est donc de $16\,\textrm{cm}$.</p>
          </div>
      </div>
  </div>
</div>
  
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Démontrer qu'un triangle est rectangle</div>
          <div class="card-image" style="background-image: url('https://minio.apps.education.fr/codimd-prod/uploads/upload_09312f4493c15abf3bafa8333b4a6bf0.png');"></div>
          <div class="card-theme">Réciproque du <br> théorème de Pythagore<div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          
          <div class="card-content" style="font-size:1.2em;">
			Démontrer que le triangle $REC$ est rectangle en $R$.
          </div>
          <div class="card-level">4e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Démonstration</div>
          <div class="card-theme">Proposition de correction <div class="card-logo"><i class="fa-solid fa-check"></i></div></div>
          
          <div class="card-answer" style="font-size:0.925em;">
            On identifie le plus grand côté $\textcolor{blue}{[EC]}$ et les deux plus petits côtés $\textcolor{green}{[RE]}$ et $\textcolor{red}{[RC]}$.
            <br>
            On calcule séparément<br>
              $\textcolor{blue}{EC}^2=\textcolor{blue}{17}^2=289$ <br>
            et <br>
            $\textcolor{green}{RE}^2+\textcolor{red}{RC}^2=\textcolor{green}{8}^2+\textcolor{red}{15}^2$<br>
            $\textcolor{green}{RE}^2+\textcolor{red}{RC}^2=64+225^2$
            $\textcolor{green}{RE}^2+\textcolor{red}{RC}^2=289$<br>
            On remarque que : <br>
            $\textcolor{blue}{EC}^2=\textcolor{green}{RE}^2+\textcolor{red}{RC}^2$<br>
            Par la réciproque du théorème de Pythagore, on en conclut que le triangle $REC$ est rectangle en $R$.
          </div>
      </div>
  </div>



<div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Démontrer qu'un triangle n'est pas rectangle</div>
          <div class="card-image" style="background-image: url('https://minio.apps.education.fr/codimd-prod/uploads/upload_6918622010236e18eb89cb26aa708aa4.png');"></div>
          <div class="card-theme">Contraposée du <br> théorème de Pythagore<div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          <div class="card-content" style="font-size:1.2em;">
              Le triangle $MON$ est-il rectangle ?
          </div>
          <div class="card-level">4e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Démonstration</div>
          <div class="card-theme">Proposition de correction <div class="card-logo"><i class="fa-solid fa-check"></i></div></div>
          
          <div class="card-answer" style="font-size:0.895em;">
            On identifie le plus grand côté $\textcolor{blue}{[ON]}$ et les deux plus petits côtés $\textcolor{green}{[MN]}$ et $\textcolor{red}{[OM]}$.
            <br>On calcule séparément<br>
            $\textcolor{blue}{ON}^2=\textcolor{blue}{30}^2=900$ <br>
            et <br>
            $\textcolor{green}{MN}^2+\textcolor{red}{OM}^2=\textcolor{green}{20}^2+\textcolor{red}{21}^2$<br>
            $\textcolor{green}{MN}^2+\textcolor{red}{OM}^2=400+441$<br>
            $\textcolor{green}{MN}^2+\textcolor{red}{OM}^2=841$<br>
            On remarque que : <br>
            $\textcolor{blue}{ON}^2\neq\textcolor{green}{MN}^2+\textcolor{red}{OM}^2$<br>
            Par contraposée du théorème de Pythagore, on en conclut que le triangle $OMN$ n'est pas rectangle.
          </div>
      </div>
  </div>
</div>
</body>

<!-- Style CSS des cartes -->
<style>
    /* Style global pour les cartes */
  	
  	body {
  		font-family: Arial, sans-serif;
  		}
  	
  	.duo-card {
        display: block;
    }
  	
    .card {
      	position: relative;
        width: 240px;
        height: 340px;
        border: 5px solid #000;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }
	
	.card p {
      color: black;
      text-shadow: none;
      margin-top:0.35em;
      margin-bottom:0.35em;
  	}	
    
    .cards-container {
        display: flex;
        align-items: center;
        margin: 0; 
      	margin-bottom: 1em;
    }

    .card-front, .card-back {
        margin: 0;
    }

    .card-back {
        background: linear-gradient(145deg, #f0f0f0, #d4d4d4);
        background-size: cover;
        background-position: center;
    }

    .card-image {
        width: 92.5%;
        height: 48%;
        background-position: center;
        background-size: cover;
        border: solid 3.5px lightgray;
        margin: auto;
    }

    .card-title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        padding: 6px;
        color: #333;
        background-color: #f0f0f0;
    }

    .card-theme {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        padding: 4px;
        background-color: #d4d4d4;
        color: #333;
        position: relative;
    }

    .card-logo {
        position: absolute; 
        right: 10px;
        top: 50%; 
        transform: translateY(-50%);
    }

    .card-theme::before {
        content: ''; 
        display: inline-block; 
        width: 0; 
        height: 100%;
        vertical-align: middle; 
        margin-right: -0.25em;
    }

    .card-content {
        padding: 8px;
        height: 30%;
        border-top: 1px solid #ddd;
        overflow-y: auto;
        font-size: 12px;
        text-align: justify;
        background-color: #f0f0f0;
    }
  
  	.card-answer {
        padding: 8px;
        height: 80%;
        border-top: 1px solid #ddd;
        overflow-y: auto;
        font-size: 12px;
        text-align: justify;
        background-color: #f0f0f0;
    }
  
  	.card-level {
    position: absolute;
    bottom: -1px;
    right: -1px;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid 1px black;
    border-radius: 25%;
    width: 20px;
    height: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    }
  
    .card-logo {
        margin-left: auto; /* Pousse l'icône à droite */
        display: flex; /* Permet un bon alignement de l'icône */
    }
	
	ul, ol, li {
  	margin: 0px;
  	margin-left: -15px;
  	}
	
	/* Style pour les couleurs des cartes */
	
	.card-yellow {
        border-color: #e6c300; 
        box-shadow: 0 8px 16px rgba(226, 202, 0, 0.2);
      	background-color: #f7f1b3;
    }
    .card-yellow .card-title {
        background-color: #f7f1b3;
    }
    .card-yellow .card-theme {
        background-color: #f7e666;
    }
	.card-yellow .card-content {
        background-color: #feffe3;
    }  
    .card-yellow .card-answer {
          background-color: #feffe3;
      }  
  	.card-yellow .card-level{
  		border-color: #e6c300;
  	}
	
	.card-blue {
        border-color: #0073e6; 
        box-shadow: 0 8px 16px rgba(0, 115, 230, 0.2);
      	background-color: #b3d1f7;
    }
    .card-blue .card-title {
        background-color: #b3d1f7;
    }
    .card-blue .card-theme {
        background-color: #66b2f7;
    }
	.card-blue .card-content {
        background-color: #e3f7ff;
    }
  	.card-blue .card-answer {
        background-color: #e3f7ff;
    }
  	.card-blue .card-level {
        border-color: #0073e6; 
  	}
	
	.card-red {
        border-color: #e60000; 
        box-shadow: 0 8px 16px rgba(230, 0, 0, 0.2);
      background-color: #f7b3b3;
    }
    .card-red .card-title {
        background-color: #f7b3b3;
    }
    .card-red .card-theme {
        background-color: #f76666;
    }
	.card-red .card-content {
        background-color: #ffe6e6;
    }
  	.card-red .card-answer {
        background-color: #ffe6e6;
    }
  	.card-red .card-level {
        border-color: #e60000;
  	}
	
	.card-green {
    border-color: #68c268; 
    box-shadow: 0 8px 16px rgba(119, 221, 119, 0.2);
    background-color: #c9f0c9;
	}
	.card-green .card-title {
		background-color: #c9f0c9;
	}
	.card-green .card-theme {
		background-color: #a6e7a6;
	}
	.card-green .card-content {
		background-color: #e6ffe6;
	}
  	.card-green .card-answer {
		background-color: #e6ffe6;
	}
  	.card-green .card-level {
    border-color: #68c268;
  	}
	
	.card-purple {
    border-color: #996dc7; 
    box-shadow: 0 8px 16px rgba(177, 156, 217, 0.2);
    background-color: #d6c3f0;
	}
	.card-purple .card-title {
		background-color: #d6c3f0;
	}
	.card-purple .card-theme {
		background-color: #c9a9f5;
	}
	.card-purple .card-content {
		background-color: #f3e6ff;
	}
  	.card-purple .card-answer {
		background-color: #f3e6ff;
	}
  	.card-purple .card-level {
    border-color: #996dc7;
  	}

	.card-orange {
    border-color: #e69500; 
    box-shadow: 0 8px 16px rgba(255, 179, 71, 0.2);
    background-color: #ffd4a3;
	}
	.card-orange .card-title {
		background-color: #ffd4a3;
	}
	.card-orange .card-theme {
		background-color: #ffc080;
	}
	.card-orange .card-content {
		background-color: #fff0e3;
	}
  	.card-orange .card-answer {
		background-color: #fff0e3;
	}
  	.card-orange .card-level {
    border-color: #e69500;
  	}
  
  	.card-pink {
    border-color: #e60073; 
    box-shadow: 0 8px 16px rgba(230, 0, 115, 0.2);
    background-color: #ffb3d9;
    }
    .card-pink .card-title {
        background-color: #ffb3d9;
    }
    .card-pink .card-theme {
        background-color: #ff66cc;
    }
    .card-pink .card-content {
        background-color: #ffe6f2;
    }
    .card-pink .card-answer {
        background-color: #ffe6f2;
    }
    .card-pink .card-level {
        border-color: #e60073;
    }

    .card-brown {
        border-color: #8b4513; 
        box-shadow: 0 8px 16px rgba(139, 69, 19, 0.2);
        background-color: #d2b48c;
    }
    .card-brown .card-title {
        background-color: #d2b48c;
    }
    .card-brown .card-theme {
        background-color: #cdaa7d;
    }
    .card-brown .card-content {
        background-color: #f5deb3;
    }
    .card-brown .card-answer {
        background-color: #f5deb3;
    }
    .card-brown .card-level {
        border-color: #8b4513;
    }

    .card-turquoise {
        border-color: #40e0d0; 
        box-shadow: 0 8px 16px rgba(64, 224, 208, 0.2);
        background-color: #99f2ea;
    }
    .card-turquoise .card-title {
        background-color: #99f2ea;
    }
    .card-turquoise .card-theme {
        background-color: #78e7dc;
    }
    .card-turquoise .card-content {
        background-color: #e8fffd;
    }
    .card-turquoise .card-answer {
        background-color: #e8fffd;
    }
    .card-turquoise .card-level {
        border-color: #40e0d0;
    }

  	.card-bronze {
        border-color: #cd7f32; 
        box-shadow: 0 8px 16px rgba(205, 127, 50, 0.2);
        background: linear-gradient(135deg, #ffeddb 0%, #e2b87a 50%, #dea26b 100%);
    }
    .card-bronze .card-title {
        background: linear-gradient(to bottom, #e2b87a, #dea26b);
    }
    .card-bronze .card-theme {
        background: linear-gradient(to bottom, #dea26b, #cd7f32);
    }
    .card-bronze .card-content {
        background: linear-gradient(to bottom, #ffeddb, #f8e3cf);
    }
    .card-bronze .card-answer {
        background: linear-gradient(to bottom, #ffeddb, #f8e3cf);
    }
    .card-bronze .card-level {
        border-color: #cd7f32;
    }


    .card-silver {
        border-color: #c0c0c0; 
        box-shadow: 0 8px 16px rgba(192, 192, 192, 0.2);
        background: linear-gradient(135deg, #f7f7f7 0%, #dedede 50%, #cfcfcf 100%);
    }
    .card-silver .card-title {
        background: linear-gradient(to bottom, #dedede, #cfcfcf);
    }
    .card-silver .card-theme {
        background: linear-gradient(to bottom, #cfcfcf, #bfbfbf);
    }
    .card-silver .card-content {
        background: linear-gradient(to bottom, #f7f7f7, #ececec);
    }
    .card-silver .card-answer {
        background: linear-gradient(to bottom, #f7f7f7, #ececec);
    }
    .card-silver .card-level {
        border-color: #c0c0c0;
    }


    .card-gold {
        border-color: #ffd700; 
        box-shadow: 0 8px 16px rgba(255, 215, 0, 0.2);
        background: linear-gradient(135deg, #fffdf0 0%, #fff8cd 50%, #ffeb7f 100%);
    }
    .card-gold .card-title {
        background: linear-gradient(to bottom, #fff8cd, #ffeb7f);
    }
    .card-gold .card-theme {
        background: linear-gradient(to bottom, #ffeb7f, #ffd700);
    }
    .card-gold .card-content {
        background: linear-gradient(to bottom, #fffdf0, #fff5b8);
    }
    .card-gold .card-answer {
        background: linear-gradient(to bottom, #fffdf0, #fff5b8);
    }
    .card-gold .card-level {
        border-color: #ffd700;
    }
	
	/* Formatage à l'impression */
	@media print {
    .duo-card {
        display: flex;
        page-break-inside: avoid;
    }
	.cards-container {
	 margin: 5px;
	}
	}
</style>